.About {
  display: none;
  position: relative;
  padding: 100px 130px;
  @media (max-width: 1280px) {
    padding: 100px 60px;
  }
  @media (max-width: 1206px) {
    padding: 100px 120px 0 60px;
  }
  @media (max-width: 428px) {
    padding: 40px 10px;
    width: 0;
  }

  .content {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 6pc;
    @media (max-width: 428px) {
      gap: 2pc;
    }
    .block1 {
      z-index: 9;
      width: 100%;
      max-width: 1270px;
      height: 346px;
      border-radius: 16px;
      backdrop-filter: blur(20px);
      background: #11111166;
      display: flex;
      align-items: center;
      @media (max-width: 428px) {
        padding: 30px 0;
        width: 460px;
        height: auto;
      }
      .blockText {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .titleBlock {
          padding: 0 40px;
          display: flex;
          align-items: center;
          .subHr {
            width: 100%;
            max-width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(24px, 2.5vw, 34px);
            line-height: 100%;
            text-transform: uppercase;
          }
        }
        .descriptions {
          padding: 0 60px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          font-family: Helvetica Neue, sans-serif;
          font-weight: 400;
          font-size: clamp(16px, 2vw, 20px);
          line-height: 25px;
        }
      }
    }
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .paintImg {
      position: absolute;
      top: 20pc;
      left: 0;
      width: 100%;
      max-width: 376px;
      height: 376px;
      object-fit: cover;
      z-index: 10;
      animation: floatUpDown 3s ease-in-out infinite;
      @media (max-width: 1280px) {
        top: 25pc;
        width: 300px;
        height: 300px;
      }
      @media (max-width: 835px) {
        width: 200px;
        height: 200px;
      }
      @media (max-width: 428px) {
        top: 33pc;
        width: 180px;
        height: 180px;
      }
    }
    .ellipseImage {
      position: absolute;
      top: 16%;
      right: 0;
    }
    .block2 {
      z-index: 9;
      width: 100%;
      max-width: 1240px;
      height: 346px;
      border-radius: 16px;
      background: #11111166;
      backdrop-filter: blur(20px);
      display: flex;
      align-items: center;
      @media (max-width: 428px) {
        width: 460px;
      }
      .blockText {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .titleBlock {
          padding: 0 40px;
          display: flex;
          align-items: center;
          @media (max-width: 428px) {
            padding: 0 10px;
          }
          .subHr {
            width: 100%;
            max-width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(24px, 2.5vw, 34px);
            line-height: 40px;
            text-transform: uppercase;
            @media (max-width: 428px) {
              line-height: 25px;
            }
          }
        }
        .blocknum {
          position: relative;
          padding: 0 50px;
          display: flex;
          justify-content: space-between;
          @media (max-width: 428px) {
            padding: 0 10px;
          }
          .hr {
            position: absolute;
            width: 100%;
            max-width: 940px;
            left: 160px;
            top: 30px;
            border-width: 1px;
            border: 1px solid gray;
            @media (max-width: 1246px) {
              left: 169px;
              width: 811px;
            }
            @media (max-width: 1239px) {
              left: 169px;
              width: 805px;
            }
            @media (max-width: 1205px) {
              width: 705px;
            }
            @media (max-width: 1137px) {
              width: 640px;
            }
            @media (max-width: 1074px) {
              width: 580px;
            }
            @media (max-width: 884px) {
              width: 840px;
            }
            @media (max-width: 835px) {
              width: 437px;
              left: 145px;
            }
            @media (max-width: 428px) {
              top: 20px;
              width: 321px;
              left: 74px;
            }
          }
          .block11 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            .tegerek {
              width: 100%;
              max-width: 60px;
              height: 60px;
              border-radius: 50%;
              border-width: 2px;
              border: 2px solid #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
              @media (max-width: 428px) {
                width: 40px;
                height: 40px;
              }
              p {
                font-family: Helvetica Neue, sans-serif;
                font-weight: 400;
                font-size: clamp(18px, 2.5vw, 25px);
                line-height: 100%;
              }
            }
            p {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 700;
              font-size: clamp(14px, 1.8vw, 18px);
              line-height: 100%;
              text-align: center;
              @media (max-width: 428px) {
                font-size: 10px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .paintImgCan {
      z-index: 10;
      position: absolute;
      top: 55pc;
      right: 0;
      width: 100%;
      max-width: 355px;
      height: 355px;
      object-fit: cover;
      animation: floatUpDown 3s ease-in-out infinite;
      @media (max-width: 1100px) {
        display: none;
      }
      @media (max-width: 835px) {
        width: 200px;
        height: 200px;
      }
      @media (max-width: 428px) {
        display: none;
      }
    }
    .ellipseImage1 {
      position: absolute;
      top: 34%;
      left: -126px;
      width: 100%;
      max-width: 346;
      height: 346;
    }

    .block3 {
      width: 100%;
      max-width: 1240px;
      height: 761px;
      border-radius: 16px;
      background: #11111166;
      backdrop-filter: blur(20px);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 60px;
      @media (max-width: 1280px) {
        width: 1180px;
      }
      @media (max-width: 1246px) {
        width: 1100px;
      }
      @media (max-width: 1200px) {
        width: 1020px;
      }

      @media (max-width: 1167px) {
        width: 990px;
      }
      @media (max-width: 1100px) {
        padding: 30px 0;
        width: 920px;
        height: auto;
      }
      @media (max-width: 1100px) {
        width: 870px;
      }
      @media (max-width: 835px) {
        width: 720px;
        height: auto;
        padding: 60px 0 10px;
      }
      @media (max-width: 428px) {
        width: 450px;
      }
      .blockText {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .titleBlock {
          padding: 0 40px;
          display: flex;
          align-items: center;
          @media (max-width: 428px) {
            padding: 0 10px;
          }
          .subHr {
            width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(24px, 2.5vw, 34px);
            line-height: 100%;
            text-transform: uppercase;
          }
        }
        .description {
          width: 100%;
          max-width: 80%;
          padding-left: 64px;
          font-family: Helvetica Neue, sans-serif;
          font-weight: 400;
          font-size: clamp(16px, 2vw, 20px);
          line-height: 25px;
        }
      }
      .blockIconsAll {
        display: flex;
        gap: 80px;
        @media (max-width: 1200px) {
          gap: 30px;
          padding: 0 30px;
        }
        @media (max-width: 1100px) {
          flex-direction: column;
          align-items: center;
        }
        @media (max-width: 428px) {
          padding: 10px;
        }
        .blockIcons {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .text1 {
            display: flex;
            align-items: center;
            gap: 20px;
            .icons {
              width: 100%;
              max-width: 60px;
              height: 60px;
              border-width: 2px;
              border-radius: 50%;
              border: 2px solid #fb4e4e;
              display: flex;
              align-items: center;
              justify-content: center;
              @media (max-width: 428px) {
              }
              .icon {
                width: 100%;
                max-width: 25px;
                height: 25px;
                color: white;
                @media (max-width: 428px) {
                  font-size: 20px;
                }
              }
            }
            .texts {
              display: flex;
              flex-direction: column;
              gap: 6px;
              h2 {
                font-family: Helvetica Neue, sans-serif;
                color: white;
                font-weight: 700;
                font-size: clamp(22px, 3vw, 30px);
                line-height: 100%;
              }
              p {
                font-family: Helvetica Neue, sans-serif;
                font-weight: 400;
                font-size: clamp(16px, 2vw, 20px);
                line-height: 24px;
                width: 100%;
                max-width: 580px;
              }
            }
          }
        }
        .frame {
          width: 100%;
          max-width: 353px;
          height: 466px;
          border-radius: 16px;
        }
      }
    }
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .paintImg11 {
      z-index: 10;
      position: absolute;
      top: 100pc;
      left: 0;
      width: 100%;
      max-width: 320px;
      height: 320px;
      object-fit: cover;
      animation: floatUpDown 3s ease-in-out infinite;
      @media (max-width: 1280px) {
        width: 270px;
        height: 270px;
      }
      @media (max-width: 835px) {
        width: 200px;
        height: 200px;
      }
      @media (max-width: 428px) {
        top: 115pc;
      }
    }
    .ellipse42 {
      position: absolute;
      top: 82%;
      left: 25%;
      @media (max-width: 835px) {
        top: 86%;
        left: 18%;
      }
      @media (max-width: 428px) {
        display: none;
      }
    }
    .block4 {
      z-index: 9;
      width: 100%;
      max-width: 1099px;
      height: 395px;
      border-radius: 16px;
      backdrop-filter: blur(20px);
      display: flex;
      align-items: center;
      @media (max-width: 428px) {
        padding-top: 140px;
        width: 390px;
      }
      .blockText {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media (max-width: 428px) {
          gap: 30px;
        }
        .titleBlock {
          display: flex;
          align-items: center;
          padding: 0 30px;
          @media (max-width: 428px) {
            padding: 0;
          }
          .subHr {
            width: 100%;
            max-width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(24px, 2.5vw, 34px);
            text-transform: uppercase;
            line-height: 40px;
          }
        }
        .blockAll1 {
          padding-left: 75px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media (max-width: 835px) {
            padding-left: 0;
          }
          @media (max-width: 428px) {
            flex-direction: column;
            gap: 20px;
          }

          .blockEP {
            display: flex;
            flex-direction: column;
            gap: 25px;
            color: #ffffff;
            h6 {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 700;
              font-style: Bold;
              font-size: clamp(22px, 2.5vw, 30px);
              line-height: 100%;
            }
            p {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 400;
              font-style: Regular;
              font-size: clamp(16px, 2vw, 20px);
              line-height: 100%;
            }
          }
          .blockHr {
            display: flex;
            flex-direction: column;
            gap: 5px;
            @media (max-width: 428px) {
              margin-right: 40px;
            }
            .hr {
              position: relative;
              width: 511px;
              height: 7px;
              background-color: #43454f;
              overflow: hidden;
              border-radius: 4px;
              @media (max-width: 1100px) {
                width: 430px;
              }
              @media (max-width: 428px) {
                width: 350px;
              }
              &::before {
                content: "";
                position: absolute;
                top: 0;
                height: 100%;
                background-color: #fb4e4e;
                width: 0%;
                z-index: 1;
              }
            }

            .Check {
              position: relative;
              top: -25px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 2px solid #fb4e4e;
              background: #fb4e4e;
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: 2;

              .icon {
                font-size: clamp(16px, 2vw, 20px);
                color: white;
              }
            }

            &.animate {
              .hr:nth-of-type(1)::before {
                left: 50%;
                animation: centerToRight 2s ease-in-out forwards;
              }

              .hr:nth-of-type(3)::before {
                left: 50%;
                animation: centerToRight 2s ease-in-out forwards;
                animation-delay: 0.5s;
              }

              .hr:nth-of-type(5)::before {
                left: 50%;
                animation: centerToLeft 2s ease-in-out forwards;
                animation-delay: 1s;
              }

              .Check:nth-of-type(2) {
                left: 50%;
                animation: moveCheckRight 2s ease-in-out forwards;
                animation-delay: 0s;
              }

              .Check:nth-of-type(4) {
                left: 50%;
                animation: moveCheckRight 2s ease-in-out forwards;
                animation-delay: 0.5s;
              }

              .Check:nth-of-type(6) {
                left: 50%;
                animation: moveCheckLeft 2s ease-in-out forwards;
                animation-delay: 1s;
              }
            }

            @keyframes centerToRight {
              from {
                width: 0%;
                left: 50%;
              }
              to {
                width: 50%;
                left: 50%;
              }
            }

            @keyframes centerToLeft {
              from {
                width: 0%;
                left: 50%;
              }
              to {
                width: 50%;
                left: 0%;
              }
            }

            @keyframes moveCheckRight {
              from {
                left: 50%;
              }
              to {
                left: 95%;
              }
            }

            @keyframes moveCheckLeft {
              from {
                left: 50%;
              }
              to {
                left: 0%;
              }
            }
          }
        }
      }
    }
  }
}
