.About {
  position: relative;
  padding: 100px 130px;
  @media (max-width: 1280px) {
    padding: 100px 60px;
  }
  @media (max-width: 1206px) {
    padding: 100px 120px 0 60px;
  }
  @media (max-width: 1206px) {
    padding: 100px 90px 0 45px;
  }
  @media (max-width: 1206px) {
    padding: 100px 90px 0 45px;
  }
  @media (max-width: 510px) {
    padding: 100px 50px 0 10px;
  }
  .content {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 6pc;
    @media (max-width: 428px) {
      gap: 2pc;
    }
    .block1 {
      z-index: 9;
      width: 100%;
      max-width: 1270px;
      height: 346px;
      border-radius: 16px;
      backdrop-filter: blur(20px);
      background: #11111166;
      display: flex;
      align-items: center;
      @media (max-width: 692px) {
        padding: 40px 0;
        height: auto;
      }

      .blockText {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .titleBlock {
          padding: 0 40px;
          display: flex;
          align-items: center;
          @media (max-width: 692px) {
            padding: 0 20px;
          }
          .subHr {
            width: 100%;
            max-width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(24px, 2.5vw, 34px);
            line-height: 100%;
            text-transform: uppercase;
          }
        }
        .descriptions {
          padding: 0 60px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          font-family: Helvetica Neue, sans-serif;
          font-weight: 400;
          font-size: clamp(16px, 2vw, 20px);
          line-height: 25px;
          @media (max-width: 692px) {
            padding: 0 30px;
          }
        }
      }
    }
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .paintImg {
      position: absolute;
      top: 20pc;
      left: 0;
      width: 100%;
      max-width: 376px;
      height: 376px;
      object-fit: cover;
      z-index: 10;
      animation: floatUpDown 3s ease-in-out infinite;
      @media (max-width: 1280px) {
        top: 25pc;
        width: 300px;
        height: 300px;
      }
      @media (max-width: 835px) {
        width: 200px;
        height: 200px;
      }
      @media (max-width: 428px) {
        top: 33pc;
        width: 180px;
        height: 180px;
      }
      @media (max-width: 404px) {
        top: 35pc;
        width: 150px;
        height: 150px;
      }
      @media (max-width: 386px) {
        top: 38pc;
      }
      @media (max-width: 360px) {
        top: 40pc;
      }
      @media (max-width: 348px) {
        top: 44pc;
      }
      @media (max-width: 315px) {
        top: 48pc;
      }
    }
    .ellipseImage {
      position: absolute;
      top: 16%;
      right: 0;
    }
    .block2 {
      z-index: 9;
      width: 100%;
      max-width: 1240px;
      height: 346px;
      border-radius: 16px;
      background: #11111166;
      backdrop-filter: blur(20px);
      display: flex;
      align-items: center;
      @media (max-width: 471px) {
        height: 300px;
      }
      @media (max-width: 421px) {
        height: 250px;
      }
      .blockText {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media (max-width: 520px) {
          gap: 34px;
        }
        .titleBlock {
          padding: 0 40px;
          display: flex;
          align-items: center;
          @media (max-width: 600px) {
            padding: 0 10px;
          }
          .subHr {
            width: 100%;
            max-width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(24px, 2.5vw, 34px);
            line-height: 40px;
            text-transform: uppercase;
            @media (max-width: 783px) {
              line-height: 30px;
            }
            @media (max-width: 520px) {
              line-height: 23px;
            }
            @media (max-width: 428px) {
              font-size: 20px;
            }
            @media (max-width: 392px) {
              font-size: 19px;
            }
            @media (max-width: 361px) {
              font-size: 17px;
            }
            @media (max-width: 321px) {
              font-size: 14px;
            }
          }
        }
        .textxHr {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .blocknum {
            position: relative;
            padding: 0 50px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 600px) {
              padding: 0 20px;
            }
            .hr {
              position: absolute;
              top: 30px;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              max-width: 1012px;
              border: 1px solid gray;
              @media (max-width: 1246px) {
                width: 80%;
              }
              @media (max-width: 1180px) {
                width: 78%;
              }
              @media (max-width: 1116px) {
                width: 77%;
              }
              @media (max-width: 1050px) {
                width: 75%;
              }
              @media (max-width: 1000px) {
                width: 74%;
              }
              @media (max-width: 940px) {
                width: 72%;
              }
              @media (max-width: 900px) {
                width: 70%;
              }
              @media (max-width: 835px) {
                width: 67%;
              }

              @media (max-width: 775px) {
                width: 65%;
              }
              @media (max-width: 750px) {
                width: 63%;
              }
              @media (max-width: 700px) {
                width: 60%;
              }
              @media (max-width: 670px) {
                width: 57%;
              }
              @media (max-width: 631px) {
                width: 54%;
              }
              @media (max-width: 600px) {
                width: 64%;
              }
              @media (max-width: 560px) {
                width: 60%;
              }
              @media (max-width: 520px) {
                width: 64%;
                top: 22px;
              }
              @media (max-width: 510px) {
                width: 69%;
              }
              @media (max-width: 471px) {
                width: 67%;
              }
              @media (max-width: 441px) {
                width: 64%;
              }
              @media (max-width: 428px) {
                width: 62%;
              }
              @media (max-width: 391px) {
                top: 19px;
              }
              @media (max-width: 376px) {
                width: 60%;
              }
              @media (max-width: 361px) {
                top: 16px;
                width: 62%;
              }
              @media (max-width: 321px) {
                width: 58%;
              }
            }
            .tegerek {
              width: 100%;
              max-width: 60px;
              height: 60px;
              border-radius: 50%;
              border-width: 2px;
              border: 2px solid #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
              @media (max-width: 520px) {
                width: 45px;
                height: 45px;
              }
              @media (max-width: 391px) {
                width: 40px;
                height: 40px;
              }
              @media (max-width: 361px) {
                width: 32px;
                height: 32px;
              }
              p {
                font-family: Helvetica Neue, sans-serif;
                font-weight: 400;
                font-size: clamp(18px, 2.5vw, 25px);
                @media (max-width: 361px) {
                  font-size: 13px;
                }
              }
            }
          }
          .texts1 {
            padding: 0 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 670px) {
              padding: 0 10px;
            }
            p {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 700;
              font-size: clamp(14px, 1.8vw, 18px);
              line-height: 100%;
              text-align: center;
              @media (max-width: 670px) {
                font-size: 12px;
              }
              @media (max-width: 560px) {
                font-size: 10px;
              }
              @media (max-width: 391px) {
                font-size: 9px;
                font-weight: 400;
              }
              @media (max-width: 391px) {
                font-size: 8px;
              }
            }
          }
        }
      }
    }
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .paintImgCan {
      display: none;
      z-index: 10;
      position: absolute;
      top: 55pc;
      right: 0;
      width: 100%;
      max-width: 355px;
      height: 355px;
      object-fit: cover;
      animation: floatUpDown 3s ease-in-out infinite;
      @media (max-width: 1100px) {
        display: none;
      }
      @media (max-width: 835px) {
        width: 200px;
        height: 200px;
      }
      @media (max-width: 428px) {
        display: none;
      }
    }
    .ellipseImage1 {
      position: absolute;
      top: 34%;
      left: -126px;
      width: 100%;
      max-width: 346;
      height: 346;
    }

    .block3 {
      width: 100%;
      max-width: 1240px;
      height: 761px;
      border-radius: 16px;
      background: #11111166;
      backdrop-filter: blur(20px);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 60px;
      @media (max-width: 910px) {
        padding: 40px 0;
      }
      @media (max-width: 885px) {
        height: auto;
      }

      .blockText {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .titleBlock {
          padding: 0 40px;
          display: flex;
          align-items: center;
          @media (max-width: 692px) {
            padding: 0 20px;
          }
          .subHr {
            width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(24px, 2.5vw, 34px);
            line-height: 100%;
            text-transform: uppercase;
          }
        }
        .description {
          width: 100%;
          max-width: 80%;
          padding-left: 64px;
          font-family: Helvetica Neue, sans-serif;
          font-weight: 400;
          font-size: clamp(16px, 2vw, 20px);
          line-height: 25px;
          @media (max-width: 692px) {
            padding-left: 40px;
          }
        }
      }
      .blockIconsAll {
        display: flex;
        gap: 80px;
        @media (max-width: 1200px) {
          gap: 30px;
          padding: 0 30px;
        }
        @media (max-width: 885px) {
          flex-direction: column;
          align-items: center;
        }
        .blockIcons {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .text1 {
            display: flex;
            align-items: center;
            gap: 20px;
            .icons {
              width: 100%;
              max-width: 60px;
              height: 60px;
              border-width: 2px;
              border-radius: 50%;
              border: 2px solid #fb4e4e;
              display: flex;
              align-items: center;
              justify-content: center;
              @media (max-width: 340px) {
                border-radius: 50%;
                height: 50px;
                max-width: 50px;
                width: 100%;
              }
              @media (max-width: 321px) {
                border-radius: 50%;
                height: 45px;
                max-width: 45px;
                width: 100%;
              }
              .icon {
                width: 100%;
                max-width: 25px;
                height: 25px;
                color: white;
                @media (max-width: 428px) {
                  font-size: 20px;
                }
                @media (max-width: 340px) {
                }
              }
            }
            .texts {
              display: flex;
              flex-direction: column;
              gap: 6px;
              h2 {
                font-family: Helvetica Neue, sans-serif;
                color: white;
                font-weight: 700;
                font-size: clamp(22px, 3vw, 30px);
                line-height: 100%;
                @media (max-width: 1000px) {
                  font-size: 20px;
                }
              }
              p {
                font-family: Helvetica Neue, sans-serif;
                font-weight: 400;
                font-size: clamp(16px, 2vw, 20px);
                line-height: 24px;
                width: 100%;
                max-width: 580px;
                @media (max-width: 1000px) {
                  font-size: 15.6px;
                }
              }
            }
          }
        }
        .frame {
          width: 100%;
          max-width: 353px;
          height: 466px;
          border-radius: 16px;
          @media (max-width: 430px) {
            height: 400px;
          }
          @media (max-width: 391px) {
            height: 350px;
          }
          @media (max-width: 341px) {
            height: 280px;
          }
        }
      }
    }
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .paintImg11 {
      z-index: 10;
      position: absolute;
      top: 100pc;
      left: 0;
      width: 100%;
      max-width: 320px;
      height: 320px;
      object-fit: cover;
      animation: floatUpDown 3s ease-in-out infinite;
      @media (max-width: 1280px) {
        width: 270px;
        height: 270px;
      }
      @media (max-width: 835px) {
        width: 200px;
        height: 200px;
      }
      @media (max-width: 428px) {
        top: 115pc;
      }
    }
    .ellipse42 {
      position: absolute;
      top: 82%;
      left: 25%;
      @media (max-width: 835px) {
        top: 86%;
        left: 18%;
      }
      @media (max-width: 720px) {
        left: 0;
      }
      @media (max-width: 591px) {
        display: none;
      }
    }
    .block4 {
      z-index: 9;
      width: 100%;
      max-width: 1260px;
      height: 395px;
      border-radius: 16px;
      backdrop-filter: blur(20px);
      display: flex;
      align-items: center;
      @media (max-width: 704px) {
        height: 300px;
      }
      @media (max-width: 590px) {
        height: 260px;
      }
      .blockText {
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media (max-width: 428px) {
          gap: 30px;
        }
        .titleBlock {
          display: flex;
          align-items: center;
          padding: 0 30px;
          @media (max-width: 890px) {
            padding: 0 10px;
          }
          .subHr {
            width: 100%;
            max-width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(24px, 2.5vw, 34px);
            text-transform: uppercase;
            line-height: 40px;
            @media (max-width: 704px) {
              line-height: 30px;
            }
            @media (max-width: 586px) {
              line-height: 25px;
            }
            @media (max-width: 428px) {
              font-size: 20px;
            }
            @media (max-width: 350px) {
              font-size: 18px;
            }
          }
        }
        .blockAll1 {
          padding: 0 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media (max-width: 890px) {
            padding: 0 30px;
          }
          @media (max-width: 690px) {
            padding: 0 10px;
          }
          .blockEP {
            display: flex;
            flex-direction: column;
            gap: 25px;
            color: #ffffff;
            @media (max-width: 890px) {
              gap: 20px;
            }
            @media (max-width: 690px) {
              gap: 14px;
            }
            @media (max-width: 580px) {
              gap: 10px;
            }
            h6 {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 700;
              font-style: Bold;
              font-size: clamp(22px, 2.5vw, 30px);
              @media (max-width: 620px) {
                font-size: 16px;
              }
              @media (max-width: 555px) {
                font-size: 14px;
              }
              @media (max-width: 435px) {
                font-size: 13px;
              }
              @media (max-width: 380px) {
                font-size: 12px;
              }
              @media (max-width: 321px) {
                font-size: 10px;
              }
            }
            p {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 400;
              font-style: Regular;
              font-size: clamp(16px, 2vw, 20px);
              @media (max-width: 620px) {
                font-size: 14px;
              }
              @media (max-width: 555px) {
                font-size: 12px;
              }
              @media (max-width: 435px) {
                font-size: 11px;
              }
              @media (max-width: 380px) {
                font-size: 9px;
              }
              @media (max-width: 321px) {
                font-size: 8px;
              }
            }
          }
          .blockHr {
            display: flex;
            flex-direction: column;
            gap: 5px;
            @media (max-width: 890px) {
              gap: 1px;
            }
            @media (max-width: 420px) {
              gap: 0;
            }
            .hr {
              position: relative;
              width: 511px;
              height: 7px;
              background-color: #43454f;
              overflow: hidden;
              border-radius: 4px;
              @media (max-width: 1050px) {
                width: 430px;
              }
              @media (max-width: 950px) {
                width: 380px;
              }
              @media (max-width: 855px) {
                width: 350px;
              }
              @media (max-width: 810px) {
                width: 310px;
              }
              @media (max-width: 769px) {
                width: 300px;
              }
              @media (max-width: 750px) {
                width: 280px;
              }
              @media (max-width: 720px) {
                width: 250px;
                height: 5px;
              }
              @media (max-width: 650px) {
                width: 220px;
              }
              @media (max-width: 575px) {
                width: 200px;
              }
              @media (max-width: 530px) {
                width: 170px;
              }
              @media (max-width: 400px) {
                width: 140px;
              }
              @media (max-width: 361px) {
                width: 120px;
              }
              @media (max-width: 321px) {
                width: 100px;
              }
              &::before {
                content: "";
                position: absolute;
                top: 0;
                height: 100%;
                background-color: #fb4e4e;
                width: 0%;
                z-index: 1;
              }
            }

            .Check {
              position: relative;
              top: -25px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 2px solid #fb4e4e;
              background: #fb4e4e;
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: 2;
              @media (max-width: 720px) {
                top: -15px;
                width: 20px;
                height: 20px;
                border: 1px solid #fb4e4e;
              }
              @media (max-width: 420px) {
                top: -12px;
                width: 17px;
                height: 17px;
              }
              .icon {
                font-size: clamp(16px, 2vw, 20px);
                color: white;
                @media (max-width: 428px) {
                  font-size: 14px;
                }
              }
            }

            &.animate {
              .hr:nth-of-type(1)::before {
                left: 50%;
                animation: centerToRight 2s ease-in-out forwards;
              }

              .hr:nth-of-type(3)::before {
                left: 50%;
                animation: centerToRight 2s ease-in-out forwards;
                animation-delay: 0.5s;
              }

              .hr:nth-of-type(5)::before {
                left: 50%;
                animation: centerToLeft 2s ease-in-out forwards;
                animation-delay: 1s;
              }

              .Check:nth-of-type(2) {
                left: 50%;
                animation: moveCheckRight 2s ease-in-out forwards;
                animation-delay: 0s;
              }

              .Check:nth-of-type(4) {
                left: 50%;
                animation: moveCheckRight 2s ease-in-out forwards;
                animation-delay: 0.5s;
              }

              .Check:nth-of-type(6) {
                left: 50%;
                animation: moveCheckLeft 2s ease-in-out forwards;
                animation-delay: 1s;
              }
            }

            @keyframes centerToRight {
              from {
                width: 0%;
                left: 50%;
              }
              to {
                width: 50%;
                left: 50%;
              }
            }

            @keyframes centerToLeft {
              from {
                width: 0%;
                left: 50%;
              }
              to {
                width: 50%;
                left: 0%;
              }
            }

            @keyframes moveCheckRight {
              from {
                left: 50%;
              }
              to {
                left: 95%;
              }
            }

            @keyframes moveCheckLeft {
              from {
                left: 50%;
              }
              to {
                left: 0%;
              }
            }
          }
        }
      }
    }
  }
}
