.Offers {
  position: relative;
  padding: 13pc 120px 0 120px;
  @media (max-width: 1280px) {
    padding: 13pc 60px 0;
  }
  @media (max-width: 1206px) {
    padding: 13pc 120px 0 20px;
  }
  @media (max-width: 1167px) {
    padding: 13pc 120px 0 50px;
  }
  @media (max-width: 550px) {
    padding: 38pc 120px 0 50px;
  }
  @media (max-width: 510px) {
    padding: 38pc 73px 0 10px;
  }
  @media (max-width: 490px) {
    padding: 42pc 73px 0 10px;
  }
  @media (max-width: 428px) {
    padding: 42pc 50px 0 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    @media (max-width: 428px) {
      gap: 50px;
    }
    .Block1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 30px;

      @keyframes floatUpDown {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-15px);
        }
        100% {
          transform: translateY(0);
        }
      }
      .paintImg {
        width: 271px;
        height: 271px;
        object-fit: cover;
        position: absolute;
        top: 50px;
        left: 0;
        animation: floatUpDown 3s ease-in-out infinite;
        @media (max-width: 1020px) {
          top: 120px;
        }
        @media (max-width: 721px) {
          width: 200px;
          height: 200px;
        }
        @media (max-width: 650px) {
          top: 150px;
        }
        @media (max-width: 550px) {
          top: 37pc;
        }
        @media (max-width: 550px) {
          top: 42pc;
        }
        @media (max-width: 430px) {
          width: 180px;
          height: 180px;
        }
      }
      .block {
        padding-left: 50px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 30px;
        z-index: 9;
        @media (max-width: 884px) {
          padding-left: 50px;
        }
        @media (max-width: 720px) {
          padding-left: 0;
        }
        @media (max-width: 550px) {
          gap: 10px;
        }

        .titleBlock {
          display: flex;
          align-items: center;
          .subHr {
            width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(24px, 2.5vw, 34px);
            line-height: 100%;
            text-transform: uppercase;
          }
        }
        .description {
          font-family: Helvetica Neue, sans-serif;
          font-weight: 400;
          font-size: clamp(16px, 1.8vw, 20px);
          line-height: 100%;
          padding-left: 20px;
        }
      }
      .blockImg {
        position: relative;
        .Image {
          width: 1280px;
          height: 290px;
          border-radius: 16px;
          @media (max-width: 1246px) {
            width: 100%;
          }
          @media (max-width: 1206px) {
            width: 1130px;
          }
          @media (max-width: 1167px) {
            width: 1050px;
          }
          @media (max-width: 1140px) {
            width: 1000px;
          }
          @media (max-width: 1100px) {
            width: 970px;
          }
          @media (max-width: 1060px) {
            width: 920px;
          }
          @media (max-width: 1000px) {
            width: 860px;
          }
          @media (max-width: 950px) {
            width: 810px;
          }
          @media (max-width: 900px) {
            width: 760px;
          }
          @media (max-width: 850px) {
            width: 720px;
          }
          @media (max-width: 830px) {
            width: 690px;
          }
          @media (max-width: 790px) {
            width: 650px;
          }
          @media (max-width: 768px) {
            width: 630px;
          }
          @media (max-width: 720px) {
            width: 590px;
          }
          @media (max-width: 690px) {
            width: 550px;
            height: 250px;
          }
          @media (max-width: 660px) {
            width: 520px;
          }
          @media (max-width: 620px) {
            width: 480px;
          }
          @media (max-width: 580px) {
            width: 440px;
            height: 230px;
          }
          @media (max-width: 550px) {
            width: 410px;
            height: 210px;
          }
          @media (max-width: 530px) {
            width: 390px;
            height: 200px;
          }
          @media (max-width: 510px) {
            width: 440px;
          }
          @media (max-width: 490px) {
            width: 420px;
          }
          @media (max-width: 463px) {
            width: 390px;
            height: 180px;
          }
          @media (max-width: 443px) {
            width: 370px;
          }
          @media (max-width: 420px) {
            width: 355px;
          }
          @media (max-width: 404px) {
            width: 345px;
          }
          @media (max-width: 380px) {
            width: 330px;
          }
          @media (max-width: 376px) {
            width: 322px;
          }
          @media (max-width: 360px) {
            width: 310px;
          }
          @media (max-width: 344px) {
            width: 295px;
          }
          @media (max-width: 330px) {
            width: 280px;
          }
          @media (max-width: 324px) {
            width: 270px;
          }
        }
        .blockText1 {
          position: absolute;
          top: 22%;
          left: 6.5%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          @media (max-width: 463px) {
            top: 15%;
          }
          @media (max-width: 443px) {
            gap: 10px;
          }
          h5 {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(18px, 2vw, 24px);
            line-height: 100%;
            color: #131313;
          }
          p {
            width: 100%;
            max-width: 593px;
            font-family: Helvetica Neue, sans-serif;
            font-weight: 400;
            font-size: clamp(16px, 1.6vw, 18px);
            color: #131313;
          }
          button {
            width: 100%;
            max-width: 433px;
            height: 41px;
            border-radius: 8px;
            padding-top: 10px;
            padding-right: 24px;
            padding-bottom: 10px;
            padding-left: 24px;
            background: #fb4e4e;
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(12px, 1.4vw, 14px);
            line-height: 100%;
            color: #ffffff;
            border: none;
            outline: none;
            cursor: pointer;
            @media (max-width: 720px) {
              width: 100%;
              max-width: 300px;
            }
            @media (max-width: 660px) {
              width: 100%;
              max-width: 230px;
            }
            @media (max-width: 550px) {
              width: 100%;
              max-width: 200px;
              height: 35px;
            }
          }
        }
      }
      @keyframes floatUpDown {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-15px);
        }
        100% {
          transform: translateY(0);
        }
      }

      .paint1 {
        position: absolute;
        top: 64pc;
        right: 0;
        width: 264px;
        height: 264px;
        object-fit: cover;
        z-index: 9;
        animation: floatUpDown 3s ease-in-out infinite;
        @media (max-width: 1140px) {
          top: 56pc;
        }
        @media (max-width: 835px) {
          top: 54pc;
          width: 200px;
        }
        @media (max-width: 690px) {
          top: 50pc;
        }
        @media (max-width: 597px) {
          top: 54pc;
        }
        @media (max-width: 550px) {
          top: 77pc;
        }
        @media (max-width: 434px) {
          top: 82pc;
        }
      }
    }
    .Block2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 70px;
      @media (max-width: 884px) {
        gap: 50px;
      }
      .vectorBg {
        position: absolute;
        top: 60%;
        left: 0;
        width: 100%;
        height: auto;
        @media (max-width: 1167px) {
          top: 65%;
        }
        @media (max-width: 884px) {
          top: 75%;
        }
        @media (max-width: 790px) {
          top: 60%;
        }
        @media (max-width: 550px) {
          top: 70%;
          height: 100vh;
        }
      }
      .paintImg {
        position: absolute;
        top: 0;
        left: 0;
      }
      .block {
        padding-left: 50px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media (max-width: 884px) {
          padding-left: 0;
        }
        @media (max-width: 550px) {
          gap: 10px;
        }
        .titleBlock {
          display: flex;
          align-items: center;
          .subHr {
            width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: clamp(24px, 2.5vw, 34px);
            line-height: 100%;
            text-transform: uppercase;
          }
        }
        .description {
          font-family: Helvetica Neue, sans-serif;
          width: 100%;
          max-width: 850px;
          font-weight: 400;
          font-size: clamp(16px, 2vw, 20px);
          line-height: 100%;
          padding-left: 20px;
          @media (max-width: 1280px) {
            line-height: 25px;
          }
        }
      }
      .blockImgText {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        z-index: 9;
        padding-left: 20px;
        @media (max-width: 1281px) {
          padding-left: 0;
        }
        @media (max-width: 670px) {
          gap: 30px;
        }
        @media (max-width: 790px) {
          flex-wrap: wrap;
        }

        @media (max-width: 590px) {
          justify-content: center;
          gap: 20px;
        }
        @media (max-width: 428px) {
          gap: 24px;
        }
        .cards {
          width: 294px;
          height: 420px;
          perspective: 1000px;
          @media (max-width: 1246px) {
            width: 266px;
          }
          @media (max-width: 1167px) {
            width: 246px;
          }
          @media (max-width: 1140px) {
            width: 230px;
            height: 340px;
          }
          @media (max-width: 1100px) {
            width: 223px;
            height: 320px;
          }
          @media (max-width: 1060px) {
            width: 209px;
            height: 320px;
          }
          @media (max-width: 1000px) {
            width: 200px;
          }
          @media (max-width: 950px) {
            width: 185px;
            height: 300px;
          }
          @media (max-width: 900px) {
            width: 170px;
            height: 260px;
          }
          @media (max-width: 850px) {
            width: 160px;
          }
          @media (max-width: 830px) {
            width: 152px;
            height: 240px;
          }
          @media (max-width: 790px) {
            width: 180px;
          }
          @media (max-width: 750px) {
            width: 170px;
          }
          @media (max-width: 720px) {
            width: 250px;
          }
          @media (max-width: 690px) {
            width: 230px;
          }
          @media (max-width: 660px) {
            width: 210px;
          }
          @media (max-width: 620px) {
            width: 190px;
          }
          @media (max-width: 580px) {
            width: 190px;
          }
          @media (max-width: 570px) {
            width: 180px;
          }
          @media (max-width: 550px) {
            width: 170px;
          }
          @media (max-width: 530px) {
            width: 160px;
          }
          @media (max-width: 510px) {
            width: 190px;
          }
          @media (max-width: 483px) {
            width: 180px;
            height: 222px;
          }
          @media (max-width: 463px) {
            width: 170px;
            height: 222px;
          }
          @media (max-width: 443px) {
            width: 150px;
            height: 202px;
          }
          @media (max-width: 428px) {
            width: 160px;
            height: 202px;
          }
          @media (max-width: 404px) {
            width: 145px;
            height: 202px;
          }
          @media (max-width: 380px) {
            width: 135px;
          }
          @media (max-width: 344px) {
            width: 125px;
          }
          @media (max-width: 324px) {
            width: 110px;
            height: 180px;
          }

          .inner {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.8s;
          }

          &:hover .inner {
            transform: rotateY(180deg);
          }

          .card,
          .card1 {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 7px;
            backface-visibility: hidden;
          }

          .card {
            background: #fb4e4e;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              @media (max-width: 1167px) {
                width: 121px;
                height: 121px;
                object-fit: contain;
              }
              @media (max-width: 900px) {
                width: 90px;
                height: 90px;
              }
              @media (max-width: 440px) {
                width: 81px;
                height: 81px;
              }
              @media (max-width: 424px) {
                width: 61px;
                height: 61px;
              }
            }
          }

          .card1 {
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            transform: rotateY(180deg);
            padding: 20px;
            width: 254px;
            height: 380px;
            @media (max-width: 1246px) {
              width: 230px;
            }
            @media (max-width: 1167px) {
              width: 210px;
            }
            @media (max-width: 1140px) {
              width: 190px;
              height: 300px;
            }
            @media (max-width: 1060px) {
              width: 180px;
              height: 280px;
            }
            @media (max-width: 980px) {
              width: 170px;
            }
            @media (max-width: 950px) {
              width: 160px;
              height: 260px;
            }
            @media (max-width: 900px) {
              width: 130px;
              height: 220px;
              gap: 10px;
            }
            @media (max-width: 850px) {
              width: 130px;
            }
            @media (max-width: 830px) {
              width: 120px;
              height: 200px;
            }
            @media (max-width: 790px) {
              width: 150px;
              height: 200px;
            }
            @media (max-width: 750px) {
              width: 140px;
            }
            @media (max-width: 720px) {
              width: 209px;
            }
            @media (max-width: 690px) {
              width: 190px;
            }
            @media (max-width: 660px) {
              width: 170px;
            }
            @media (max-width: 620px) {
              width: 150px;
            }
            @media (max-width: 570px) {
              width: 140px;
            }
            @media (max-width: 550px) {
              width: 130px;
            }
            @media (max-width: 530px) {
              width: 120px;
            }
            @media (max-width: 510px) {
              width: 150px;
            }
            @media (max-width: 483px) {
              width: 140px;
              height: 180px;
            }
            @media (max-width: 463px) {
              width: 130px;
            }
            @media (max-width: 443px) {
              width: 110px;
              height: 160px;
            }
            @media (max-width: 415px) {
              width: 120px;
            }
            @media (max-width: 404px) {
              width: 110px;
            }
            @media (max-width: 380px) {
              width: 98px;
            }
            @media (max-width: 344px) {
              width: 85px;
            }
            @media (max-width: 324px) {
              width: 70px;
              height: 140px;
            }
            h6 {
              font-weight: 700;
              font-size: clamp(22px, 3vw, 30px);
              line-height: 100%;
              font-family: Helvetica Neue, sans-serif;
              color: #131313;
              @media (max-width: 900px) {
                font-size: 19px;
              }
              @media (max-width: 324px) {
                font-size: 16px;
              }
            }

            p {
              font-weight: 400;
              font-family: Helvetica Neue, sans-serif;
              font-size: clamp(16px, 2vw, 20px);
              line-height: 25px;
              width: 100%;
              max-width: 234px;
              @media (max-width: 900px) {
                font-size: 19px;
                line-height: 20px;
              }
              @media (max-width: 830px) {
                font-size: 17px;
                line-height: 15px;
              }
              @media (max-width: 720px) {
                font-size: clamp(16px, 2vw, 20px);
                line-height: clamp(16px, 2vw, 20px);
              }
              @media (max-width: 415px) {
                font-size: 15px;
                line-height: 13px;
              }
              @media (max-width: 344px) {
                font-size: 14px;
                line-height: 12px;
              }
              @media (max-width: 324px) {
                font-size: 13px;
                line-height: 11px;
              }
            }
          }
        }
      }
    }
  }
}
