.hero {
  position: relative;
  z-index: 9;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;

  h1 {
    font-family: Helvetica Neue, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: clamp(32px, 5vw, 50px);
    line-height: 100%;
    text-transform: uppercase;
    color: #ffffff;
  }
  @keyframes floatUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-33px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .paintLeft {
    width: 381px;
    height: 381px;
    object-fit: contain;
    position: absolute;
    top: 240px;
    left: 0;
    animation: floatUpDown 3s ease-in-out infinite;
    @media (max-width: 926px) {
      width: 330px;
    }
    @media (max-width: 790px) {
      left: -80px;
    }
    @media (max-width: 540px) {
      width: 280px;
    }
    @media (max-width: 480px) {
      width: 250px;
    }
  }
  @keyframes floatDownUp {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(33px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .paintRight {
    width: 376px;
    object-fit: cover;
    position: absolute;
    top: 165px;
    right: 0;
    animation: floatDownUp 3s ease-in-out infinite;
    @media (max-width: 926px) {
      width: 300px;
    }
    @media (max-width: 790px) {
      top: 100px;
    }
    @media (max-width: 700px) {
      width: 250px;
    }
    @media (max-width: 600px) {
      width: 200px;
    }
    @media (max-width: 540px) {
      width: 140px;
    }
    @media (max-width: 480px) {
      width: 100px;
    }
    @media (max-width: 420px) {
      width: 70px;
    }
    @media (max-width: 390px) {
      width: 55px;
      top: 80px;
    }
  }
}
