.Form {
  position: relative;
  color: white;
  z-index: 99;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    .BlockAll {
      padding: 60px 0;
      border-radius: 16px;
      background: #11111166;
      backdrop-filter: blur(20px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .block1 {
        .titleBlock {
          padding: 0 40px;
          display: flex;
          align-items: center;
          .subHr {
            width: 38px;
            border-width: 2px;
            transform: rotate(-90deg);
            border: 2px solid #fb4e4e;
            margin-right: 16px;
          }
          .title {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-size: 34px;
            text-transform: uppercase;
          }
        }
      }

      .block2 {
        margin-top: 40px;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .accordionItem {
          background: #4c4c4c;
          border-radius: 10px;
          padding: 25px;
          cursor: pointer;
          transition: all 0.3s ease;
          width: 1010px;
          .hr22 {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .question {
            font-size: 18px;
            font-weight: 600;
          }

          .answer {
            margin-top: 10px;
            font-size: 16px;
            line-height: 1.5;
            color: #d0d0d0;
          }

          &:hover {
            background: #5a5a5a;
          }
        }

        .active {
          background: #5a5a5a;
        }
      }
    }
    .elipse {
      position: absolute;
      top: 40pc;
      left: 0;
      width: 100%;
      height: auto;
    }
    .blockForm {
      z-index: 9;
      display: flex;
      width: 1080px;
      height: 743px;
      border-radius: 16px;
      background: #ffffff;
      box-shadow: 0px 4px 16px 0px #424c561a;

      .form1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: 561px;
        background: #fb4e4e;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;

        .texts {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          h4 {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-style: Bold;
            font-size: 34px;
            line-height: 100%;
            text-transform: uppercase;
          }
          p {
            width: 403px;
            font-family: Helvetica Neue, sans-serif;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 22px;
            color: #ffffffd7;
          }
        }
        .colorImg {
          width: 506px;
          height: 280px;
          object-fit: contain;
        }
      }
      .form2 {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        color: black;
        .input {
          display: flex;
          flex-direction: column;
          gap: 10px;
          h6 {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-style: Bold;
            font-size: 14px;
            line-height: 100%;
            color: #1e2124;
          }
          input {
            width: 414px;
            height: 47px;
            gap: 10px;
            border-radius: 8px;
            border-width: 1px;
            padding-left: 15px;
            border: 2px solid #424c561a;
            outline: none;
          }
        }
        .input4 {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          gap: 10px;
          h6 {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 700;
            font-style: Bold;
            font-size: 14px;
            line-height: 100%;
            color: #1e2124;
          }
          .inputs {
            width: 414px;
            height: 104px;
            border-radius: 8px;
            border-width: 1px;
            padding-left: 15px;
            border: 2px solid #424c561a;
            outline: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            p {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 400;
              font-style: Regular;
              font-size: 14px;
              line-height: 100%;
              color: #545454;
            }
            .inputIcon {
              width: 182;
              height: 37;
              border-radius: 8px;
              border: 2px solid #fb4e4e;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              .icon {
                font-size: 20px;
                color: #fb4e4e;
              }
              p {
                font-family: Helvetica Neue, sans-serif;
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                line-height: 100%;
                color: #fb4e4e;
              }
            }
          }
        }
        button {
          width: 414px;
          height: 41px;
          border-radius: 8px;
          background: #fb4e4e;
          font-family: Helvetica Neue, sans-serif;
          font-weight: 700;
          font-style: Bold;
          font-size: 14px;
          line-height: 100%;
          color: #ffffff;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}
