.headerContainer {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 99;
  @media (max-width: 1280px) {
    width: 90%;
  }
  @media (max-width: 404px) {
    width: 85%;
  }

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoImage {
      width: 86px;
      height: 133px;
      object-fit: contain;
      @media (max-width: 1280px) {
        padding-left: 60px;
      }
      @media (max-width: 428px) {
        padding-left: 0;
      }
    }

    .quoteButton {
      width: 126px;
      height: 41px;
      background: #fb4e4e;
      color: #ffffff;
      border-radius: 8px;
      border: none;
      outline: none;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      cursor: pointer;
      transition: background 0.3s ease;
      &:hover {
        background: #e03e3e;
      }
    }
  }
}
