.Reviews {
  position: relative;
  .hero {
    position: relative;
    z-index: 9;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;

    h1 {
      font-family: Helvetica Neue, sans-serif;
      font-weight: 700;
      font-size: clamp(32px, 5vw, 50px);
      text-transform: uppercase;
      color: #ffffff;
      @media (max-width: 1030px) {
        font-size: clamp(22px, 4vw, 40px);
      }
    }
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-33px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .paintLeft {
      width: 100%;
      max-width: 331px;
      object-fit: cover;
      position: absolute;
      top: 290px;
      left: 0;
      animation: floatUpDown 3s ease-in-out infinite;
      @media (max-width: 1116px) {
        max-width: 290px;
      }
      @media (max-width: 800px) {
        top: 250px;
        max-width: 250px;
      }

      @media (max-width: 660px) {
        top: 220px;
        max-width: 230px;
      }
      @media (max-width: 550px) {
        max-width: 200px;
      }
      @media (max-width: 460px) {
        top: 200px;
        max-width: 140px;
      }
      @media (max-width: 320px) {
        max-width: 120px;
      }
    }
    @keyframes floatDownUp {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(33px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .paintRight {
      width: 100%;
      max-width: 362px;
      object-fit: contain;
      position: absolute;
      top: 120px;
      right: 0;
      animation: floatDownUp 3s ease-in-out infinite;
      @media (max-width: 1116px) {
        max-width: 280px;
      }
      @media (max-width: 800px) {
        max-width: 250px;
      }
      @media (max-width: 660px) {
        max-width: 230px;
      }
      @media (max-width: 550px) {
        max-width: 200px;
      }
      @media (max-width: 460px) {
        top: 40px;
        max-width: 150px;
      }
      @media (max-width: 400px) {
        top: 30px;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 4vw, 40px);
    padding: 0 0 100px 0;
    .titleBlock {
      padding: 0 160px;
      display: flex;
      align-items: center;
      @media (max-width: 884px) {
        padding: 0 100px;
      }
      @media (max-width: 700px) {
        padding: 0 80px;
      }
      @media (max-width: 493px) {
        padding: 0 60px;
      }
      .subHr {
        width: 38px;
        border-width: 2px;
        transform: rotate(-90deg);
        border: 2px solid #fb4e4e;
      }
      .title {
        font-family: Helvetica Neue, sans-serif;
        font-weight: 700;
        font-size: clamp(24px, 3vw, 34px);
        line-height: 100%;
        text-transform: uppercase;
        color: white;
      }
    }
    .vectorBg {
      position: absolute;
      top: 30.6%;
      left: 0;
      width: 100%;
      height: auto;
    }
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .paintYellow {
      position: absolute;
      top: 820px;
      left: 0;
      z-index: 9;
      width: 100%;
      max-width: 183px;
      object-fit: contain;
      animation: floatUpDown 3s ease-in-out infinite;
    }
    .paintRed {
      position: absolute;
      top: 63%;
      left: 0;
      z-index: 9;
      animation: floatUpDown 3s ease-in-out infinite;
    }
    .paintBlue {
      width: 100%;
      max-width: 285px;
      opacity: 1;
      position: absolute;
      top: 48%;
      right: 0;
      animation: floatUpDown 3s ease-in-out infinite;
    }
    .paintBlue1 {
      z-index: 9;
      position: absolute;
      top: 77%;
      right: 0;
      animation: floatUpDown 3s ease-in-out infinite;
    }
    .elipse1 {
      width: 100%;
      max-width: 346px;
      height: 346px;
      opacity: 0.5;
      position: absolute;
      top: 57%;
      right: 0;
    }
    .elipse2 {
      width: 100%;
      max-width: 346px;
      height: 346px;
      opacity: 0.5;
      position: absolute;
      top: 63.4%;
      left: 0;
    }
    .reviewsList {
      position: relative;
      z-index: 99;
      padding: 0 50px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 33px;
      .reviewCard {
        position: relative;
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 349px;
        height: 150px;
        opacity: 1;
        border-radius: 16px;
        padding: 20px;
        gap: 10px;
        background: #ffffff;
        box-shadow: 0px 2px 16px 0px #424c561a;
        @media (max-width: 1246px) {
          width: 290px;
        }
        @media (max-width: 1156px) {
          width: 280px;
        }
        @media (max-width: 1126px) {
          width: 270px;
        }
        @media (max-width: 1096px) {
          width: 260px;
        }
        @media (max-width: 1066px) {
          width: 250px;
        }
        @media (max-width: 1036px) {
          width: 240px;
        }
        @media (max-width: 1006px) {
          width: 230px;
        }
        @media (max-width: 976px) {
          width: 220px;
        }
        @media (max-width: 946px) {
          width: 200px;
        }
        @media (max-width: 886px) {
          width: 190px;
          height: auto;
        }
        @media (max-width: 856px) {
          width: 180px;
        }
        @media (max-width: 826px) {
          width: 170px;
        }
        @media (max-width: 796px) {
          width: 160px;
        }
        @media (max-width: 766px) {
          width: 260px;
        }
        @media (max-width: 733px) {
          width: 250px;
        }
        @media (max-width: 713px) {
          width: 230px;
        }
        @media (max-width: 673px) {
          width: 210px;
        }
        @media (max-width: 633px) {
          width: 190px;
        }
        @media (max-width: 593px) {
          width: 170px;
        }
        @media (max-width: 553px) {
          width: 150px;
        }
        @media (max-width: 513px) {
          width: 140px;
        }
        @media (max-width: 493px) {
          width: 360px;
        }
        .avatar {
          width: 100%;
          max-width: 60;
          height: 60;
        }
        .reviewText {
          display: flex;
          flex-direction: column;
          gap: 14px;
          @media (max-width: 1066px) {
            gap: 7px;
          }
          .icons {
            display: flex;
            align-items: center;
            gap: 5px;
            @media (max-width: 886px) {
              gap: 2px;
            }
            .iconStar {
              color: #ffb341;
              font-size: 16px;
              @media (max-width: 513px) {
                font-size: 14px;
              }
            }
          }
          .reviewHeader {
            display: flex;
            flex-direction: column;
            gap: 7px;
            @media (max-width: 1066px) {
              gap: 4px;
            }
            .name {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 700;
              font-style: Bold;
              font-size: clamp(14px, 2vw, 24px);
              line-height: 100%;
              color: #131313;
              @media (max-width: 1066px) {
                font-size: 18px;
              }
              @media (max-width: 886px) {
                font-size: 15px;
              }
            }
            .date {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 400;
              font-style: Regular;
              font-size: clamp(12px, 1vw, 15px);
              line-height: 100%;
              color: #131313;
            }
          }
          .description {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 400;
            font-size: clamp(15px, 1.3vw, 18px);
            width: 100%;
            max-width: 253px;
            @media (max-width: 886px) {
              font-size: 14px;
            }
            @media (max-width: 796px) {
              font-size: 13px;
            }
            @media (max-width: 766px) {
              font-size: clamp(15px, 1.3vw, 18px);
            }
            @media (max-width: 513px) {
              font-size: 10px;
            }
            @media (max-width: 493px) {
              font-size: clamp(15px, 1.3vw, 18px);
            }
          }
        }
      }
    }
  }
}
