.Reviews {
  position: relative;
  padding: 0 0 80px 0;

  .hero {
    position: relative;
    z-index: 9;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;

    h1 {
      font-family: Helvetica Neue, sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 50px;
      line-height: 100%;
      text-transform: uppercase;
      color: #ffffff;
    }
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-33px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .paintLeft {
      width: 331px;
      object-fit: contain;
      position: absolute;
      top: 290px;
      left: 0;
      animation: floatUpDown 3s ease-in-out infinite;
    }
    @keyframes floatDownUp {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(33px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .paintRight {
      width: 362px;
      height: 362px;
      object-fit: contain;
      position: absolute;
      top: 120px;
      right: 0;
      animation: floatDownUp 3s ease-in-out infinite;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 0 100px 0;
    .titleBlock {
      padding: 0 160px;
      display: flex;
      align-items: center;
      .subHr {
        width: 38px;
        border-width: 2px;
        transform: rotate(-90deg);
        border: 2px solid #fb4e4e;
      }
      .title {
        font-family: Helvetica Neue, sans-serif;
        font-weight: 700;
        font-size: 34px;
        line-height: 100%;
        text-transform: uppercase;
        color: white;
      }
    }
    .vectorBg {
      position: absolute;
      top: 18.6%;
      left: 0;
      width: 100%;
      height: auto;
    }
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .paintYellow {
      position: absolute;
      top: 820px;
      left: 0;
      z-index: 9;
      width: 183px;
      object-fit: contain;
      animation: floatUpDown 3s ease-in-out infinite;
    }
    .paintRed {
      position: absolute;
      top: 63%;
      left: 0;
      z-index: 9;
      animation: floatUpDown 3s ease-in-out infinite;
    }
    .paintBlue {
      width: 285px;
      opacity: 1;
      position: absolute;
      top: 48%;
      right: 0;
      animation: floatUpDown 3s ease-in-out infinite;
    }
    .paintBlue1 {
      z-index: 9;
      position: absolute;
      top: 77%;
      right: 0;
      animation: floatUpDown 3s ease-in-out infinite;
    }
    .elipse1 {
      width: 346px;
      height: 346px;
      opacity: 0.5;
      position: absolute;
      top: 57%;
      right: 0;
    }
    .elipse2 {
      width: 346px;
      height: 346px;
      opacity: 0.5;
      position: absolute;
      top: 63.4%;
      left: 0;
    }
    .reviewsList {
      position: relative;
      z-index: 99;
      padding: 0 100px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 33px;
      .reviewCard {
        display: flex;
        gap: 20px;
        width: 349px;
        height: 150px;
        opacity: 1;
        border-radius: 16px;
        padding: 30px;
        gap: 10px;
        background: #ffffff;
        box-shadow: 0px 2px 16px 0px #424c561a;

        .reviewText {
          display: flex;
          flex-direction: column;
          gap: 14px;
          .icons {
            display: flex;
            align-items: center;
            gap: 5px;
            .iconStar {
              color: #ffb341;
              font-size: 16px;
            }
          }
          .reviewHeader {
            display: flex;
            flex-direction: column;
            gap: 7px;
            .name {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 700;
              font-style: Bold;
              font-size: 24px;
              line-height: 100%;
              color: #131313;
            }
            .date {
              font-family: Helvetica Neue, sans-serif;
              font-weight: 400;
              font-style: Regular;
              font-size: 15px;
              line-height: 100%;
              color: #131313;
            }
          }
          .description {
            font-family: Helvetica Neue, sans-serif;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 100%;
            width: 253px;
            opacity: 1;
          }
        }
      }
    }
  }
  .vector2 {
    position: absolute;
    top: 66.6%;
    left: 0;
    width: 100%;
    height: auto;
  }
}
